*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
}
body{
    color: black;
    background-color: #eee;
}
header{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}
header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3rem;
    font-weight: 800;
    color: #000;
}
.gallery-container{
display:flex;
flex-wrap: wrap;
justify-content: space-evenly;
gap: 2vw;
padding: 0 1vw;
}
 
.gallery-items{
    width: 290px;
    height: 290px;
    border: 12px solid #fff;
    box-shadow: 5px 5px 5px #0006;
    flex-grow: 1;
    filter: grayscale(100%);
    transition: transform 1s linear;
}

.gallery-items img{
    width: 100%;
    height: 100%;
    object-fit:cover;
}

.gallery-items:hover{
    transform: scale(1.4);
    z-index: 99;
    filter: none;
}

footer{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-style: italic;
}